<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->

        <!-- 表示使用 mysql 数据库驱动类 -->
        <property name="connection.driver_class"> com.mysql.jdbc.Driver</property>

        <!-- jdbc 的连接 url 和数据库（使用我们之前新建的 hibernate） -->
        <property name = "connection.url">
        jdbc:mysql://localhost:3306/system?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false</property>
        <!-- 数据库用户名 -->
        <property name = "connection.username">root</property>

        <!-- 密码（这里为空） -->
        <property name = "connection.password">1212hjkl</property>

        <!-- 数据库使用的方言 -->
        <property name = "dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- 设置 打印输出 sql 语句 为真 -->
        <property name = "show_sql">true</property>

        <!-- 设置格式为 sql -->
        <property name = "format_sql">true</property>

        <!-- 第一次加载 hibernate 时根据实体类自动建立表结构，以后自动更新表结构 -->
        <property name = "hbm2ddl.auto">update</property>

        <!-- 选择使用C3P0连接池 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!-- 连接池中最小连接数 -->
        <property name="hibernate.c3p0.min_size">5</property>
        <!-- 连接池中最大连接数 -->
        <property name="hibernate.c3p0.max_size">200</property>
        <!-- 设定数据库连接超时时间，以秒为单位。如果连接池中某个数据库连接处于空闲状态且超过timeout秒时，就会从连接池中移除 -->
        <property name="hibernate.c3p0.timeout">60</property>
        <!-- 每次都验证连接是否可用 -->
        <property name="hibernate.c3p0.validate">true</property>
        <!--如果设为true那么在取得连接的同时将校验连接的有效性。Default: false -->
        <property name="testConnectionOnCheckin">true</property>
        <!-- 设置数据库 -->
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.idleConnectionTestPeriod">1800</property>
        <property name="hibernate.c3p0.numHelperThreads">20</property>



        <!-- 映射文件 -->
        <mapping class = "po.GoodsPO" />
        <mapping class = "po.GoodsOverflowPO"/>
        <mapping class = "po.GoodsLackPO"/>
        <mapping class = "po.PresentPO"/>
        <mapping class = "po.OverflowListPO"/>
        <mapping class = "po.LackListPO"/>
        <mapping class = "po.PresentListPO"/>
        <mapping class = "po.ClassifyPO" />
        <mapping class = "po.MemberPO" />
        <mapping class = "po.SalePO" />
        <mapping class = "po.SaleReturnPO"/>
        <mapping class = "po.StockPO" />
        <mapping class = "po.StockReturnPO"/>
        <mapping class = "po.GoodsStockPO"/>
        <mapping class = "po.GoodsStockReturnPO"/>
        <mapping class = "po.GoodsSalePO"/>
        <mapping class = "po.GoodsSaleReturnPO"/>
        <mapping class = "po.UserPO"/>
        <mapping class = "po.AdminPO"/>
        <mapping class = "po.LogPO"/>
    </session-factory>
</hibernate-configuration>